iotprotocol/IotProtocol/bhupendraSirNotes/IoT-Protocols-20220707T082107Z-001/IoT-Protocols/Student-Code/MQTT/Shruti/esp32-dht11-node-red/flows.json
[{"id":"5e40e2cf.a9abfc","type":"tab","label":"DHT11","disabled":false,"info":""},{"id":"741e9457.60939c","type":"mqtt in","z":"5e40e2cf.a9abfc","name":"","topic":"coldRoom/dht11/temperature","qos":"0","datatype":"auto","broker":"874f114e.a3d93","x":280,"y":200,"wires":[["fa8515ab.38c3c8","bfdf0d98.d8e5d"]]},{"id":"fa8515ab.38c3c8","type":"debug","z":"5e40e2cf.a9abfc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"3bb62af4.81c206","type":"ui_text","z":"5e40e2cf.a9abfc","group":"694f9f0c.1a128","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"col-center","x":560,"y":340,"wires":[]},{"id":"bfdf0d98.d8e5d","type":"ui_text","z":"5e40e2cf.a9abfc","group":"694f9f0c.1a128","order":0,"width":0,"height":0,"name":"Temperature","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","x":550,"y":140,"wires":[]},{"id":"6006d36d.a9841c","type":"mqtt in","z":"5e40e2cf.a9abfc","name":"","topic":"coldRoom/dht11/humidity","qos":"0","datatype":"auto","broker":"874f114e.a3d93","x":270,"y":280,"wires":[["3bb62af4.81c206","fa8515ab.38c3c8"]]},{"id":"874f114e.a3d93","type":"mqtt-broker","z":"","name":"prn_23","broker":"192.168.31.62","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"694f9f0c.1a128","type":"ui_group","z":"5e40e2cf.a9abfc","name":"DHT11","tab":"5b328a8b.a37004","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b328a8b.a37004","type":"ui_tab","z":"","name":"DHT11","icon":"dashboard","disabled":false,"hidden":false,"info":"ColdRoom"}]